.box {
  background: inherit;
  position: relative;
  overflow: hidden;
  margin: 10px;
  border-radius: 5px;
}

.box:before {
  content: '';
  background: inherit;
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: -25px;
  right: -25px;
  box-shadow: inset 0 0 3000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}

.boxChildren {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 25px;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  color: var(--dark);
}

.button {
  margin-top: 20px;
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  background-color: var(--dark);
  color: var(--light);
}
