.gridContainer {
  padding: 20px;
}

.svg {
  max-height: 80vh;
}

.hexagon {
  fill: var(--medium);
  opacity: 0.85;
}

.hexagonPath {
  fill: var(--path);
  opacity: 0.85;
}

.hexagonClickable {
  fill: var(--medium);
  filter: drop-shadow(0 0 3px var(--light));
  cursor: pointer;
}

.hexagonMistake {
  fill: var(--light);
  opacity: 0.85;
}
